body{
    --text-color: #333;
    --bkg-color: #eee;
    background: var(--bkg-color);
    margin: 1% 5% 0;
}

body.dark-theme{
    --text-color: #eee;
    --bkg-color: #222;
}
.btn-toggle{
    display: block;
    float: right;
    background: var(--bkg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.intro{
    display: flex;
    height: 4em;
}

.menu{
    border: none;
    text-decoration: none;
}

.content{
    display: block;
    padding: 0.3em;
    background: var(--bkg-color);
    color: var(--text-color);
}
footer{
    background: var(--bkg-color);
    color: var(--text-color);
}

#important{
    display:inline;
}

table{ 
    border-collapse: collapse;

}

h1, p{
    color: var(--text-color);
}
h2{
    margin-bottom: 0.1em;
}
td, th{
    border: 0.15em solid #a1a1a1;
    text-align: left;
    padding: 0.3em;
}

.form-label{
    padding-top: 0.7em;
    display: block;
}

.form-button{
    padding: 0.2em 0.8em;
    font-size: 1em;
    border: solid 1px grey;
    border-radius: 6px;
}
